DB_HOST=localhost
DB_PORT=5432
DB_NAME=closecare
DB_USER=closecare_app
DB_PASSWORD=coloque_a_senha_do_usuario_aqui
JWT_SECRET_KEY=chave_gerada
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30
COOKIE_SECURE=false